/* line 5, ../../src/app/scss/main.scss */
body {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: normal;
  font-family: 'Source Serif Pro', serif;
}
