/* line 28, ../../src/scss/main.scss */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  size: 100%;
  background-color: #f6f6f6;
  padding: 0;
}

/* line 36, ../../src/scss/main.scss */
header, footer {
  display: block;
  clear: both;
}

/* line 41, ../../src/scss/main.scss */
p {
  font-size: .75em;
  line-height: 1.5em;
  font-family: "Roboto", sans-serif;
}

/* line 47, ../../src/scss/main.scss */
a:visited, a:active, a {
  color: #aaa;
}

/* line 51, ../../src/scss/main.scss */
.page {
  width: 80%;
  min-width: 400px;
  margin: 0 auto;
}

/* line 57, ../../src/scss/main.scss */
.title, .project-title, .project-title-subscript, .article .id, .article .title, footer .footerblock h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

/* line 62, ../../src/scss/main.scss */
.project-title {
  font-size: 2.6em;
  letter-spacing: .3em;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-top: .2em;
  padding-bottom: .2em;
  line-height: 1.2em;
  margin: 1.5em 0 .5em 0;
  font-weight: 700;
  text-align: center;
}
/* line 74, ../../src/scss/main.scss */
.project-title a {
  text-decoration: none;
  color: inherit;
}

/* line 80, ../../src/scss/main.scss */
.project-title-subscript {
  font-size: .2em;
  letter-spacing: .5em;
  padding-bottom: 3em;
  text-align: center;
}

/* line 88, ../../src/scss/main.scss */
.collection-title {
  font-size: .3em;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding-bottom: 1.5em;
  margin-bottom: .2em;
  border-bottom-style: solid;
  border-bottom-width: .1em;
}

/* line 98, ../../src/scss/main.scss */
.link, .searchbar a, .source_link p a {
  text-decoration: none;
  display: block;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: .7em;
}

/* line 108, ../../src/scss/main.scss */
.searchbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 2em;
  list-style-type: none;
}
/* line 117, ../../src/scss/main.scss */
.searchbar a {
  padding: 1em;
}
/* line 121, ../../src/scss/main.scss */
.searchbar input {
  margin-bottom: 2px;
}
/* line 124, ../../src/scss/main.scss */
.searchbar button {
  background: none;
  border: 0px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: .7em;
  padding: 3px;
  margin-bottom: -5px;
}
/* line 134, ../../src/scss/main.scss */
.searchbar button span {
  font-size: 1em;
}

/* line 140, ../../src/scss/main.scss */
.scaled-img {
  max-width: 100%;
  margin: .8em 0 0 0;
}

/* line 145, ../../src/scss/main.scss */
.hide {
  visibility: hidden !important;
  opacity: 0.0 !important;
  height: 0px !important;
  line-height: 0px !important;
  overflow: hidden !important;
}

/* line 153, ../../src/scss/main.scss */
.columns {
  display: flex;
  flex-flow: row wrap;
}

/* line 158, ../../src/scss/main.scss */
.column {
  display: flex;
  flex-flow: column nowrap;
  max-width: 24.99999999999%;
}

/* line 164, ../../src/scss/main.scss */
.article {
  box-shadow: .05em .05em .3em #e0e0e0;
  background-color: #fff;
  margin: .3em .3em;
  padding: 0 .9em;
}
/* line 169, ../../src/scss/main.scss */
.article .id, .article .project-title, .article .project-title-subscript, .article .id, .article .title, .article footer .footerblock h2, footer .footerblock .article h2 {
  font-size: .7em;
}

/* line 181, ../../src/scss/main.scss */
.red {
  color: #e71d36;
  border-bottom-color: #e71d36;
}

/* line 186, ../../src/scss/main.scss */
.teal {
  color: #2ec4b6;
  border-bottom-color: #2ec4b6;
}

/* line 191, ../../src/scss/main.scss */
.mustard {
  color: #ff9f1c;
  border-bottom-color: #ff9f1c;
}

/* line 196, ../../src/scss/main.scss */
footer {
  margin-top: 2em;
  background-color: #000;
  padding: 2em;
  color: #f6f6f6;
}
/* line 201, ../../src/scss/main.scss */
footer .footerblock {
  width: 80%;
  margin: 0 auto;
}
/* line 204, ../../src/scss/main.scss */
footer .footerblock h2 {
  font-size: .7em;
}
/* line 208, ../../src/scss/main.scss */
footer .footerblock section {
  display: flex;
  flex-flow: row nowrap;
}
/* line 211, ../../src/scss/main.scss */
footer .footerblock section p {
  margin-left: 8px;
  margin-right: 8px;
}

@media screen and (max-width: 1024px) {
  /* line 220, ../../src/scss/main.scss */
  .column {
    max-width: 49.99999999999%;
  }

  /* line 223, ../../src/scss/main.scss */
  .page {
    width: 90%;
  }
}
@media screen and (max-width: 575px) {
  /* line 229, ../../src/scss/main.scss */
  .column {
    max-width: 100%;
  }

  /* line 232, ../../src/scss/main.scss */
  .page {
    width: 95%;
  }
}
/* line 238, ../../src/scss/main.scss */
.upload_content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
/* line 243, ../../src/scss/main.scss */
.upload_content .input, .upload_content p, .upload_content div {
  max-width: 50%;
  width: 50%;
}
/* line 247, ../../src/scss/main.scss */
.upload_content .input {
  margin: 12px 0 0 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: right;
}
/* line 254, ../../src/scss/main.scss */
.upload_content .input label {
  width: 25%;
  text-align: right;
  padding-right: 6px;
}
/* line 255, ../../src/scss/main.scss */
.upload_content .input p {
  text-align: left;
  width: 70%;
  max-width: 70%;
}
/* line 256, ../../src/scss/main.scss */
.upload_content .input input, .upload_content .input textarea {
  width: 70%;
  max-width: 70%;
}
/* line 258, ../../src/scss/main.scss */
.upload_content .color_picker {
  text-align: left;
}
/* line 260, ../../src/scss/main.scss */
.upload_content .color_picker input, .upload_content .color_picker textarea {
  width: 8%;
  max-width: 10%;
}
/* line 261, ../../src/scss/main.scss */
.upload_content .color_picker span {
  border-bottom-width: 0px;
}

/* line 265, ../../src/scss/main.scss */
#flash_stack {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  -webkit-transition: opacity 2s ease-in 2s;
  transition: opacity 2s ease-in 2s;
}
/* line 282, ../../src/scss/main.scss */
#flash_stack.emergency {
  background-color: #DA1E00;
}
/* line 283, ../../src/scss/main.scss */
#flash_stack.alert {
  background-color: #036A87;
}
/* line 284, ../../src/scss/main.scss */
#flash_stack.critical {
  background-color: #DA1E00;
}
/* line 285, ../../src/scss/main.scss */
#flash_stack.error {
  background-color: #DA1E00;
}
/* line 286, ../../src/scss/main.scss */
#flash_stack.warning {
  background-color: #DA6E00;
}
/* line 287, ../../src/scss/main.scss */
#flash_stack.notice {
  background-color: #DA6E00;
}
/* line 288, ../../src/scss/main.scss */
#flash_stack.info {
  background-color: #036A87;
}
/* line 289, ../../src/scss/main.scss */
#flash_stack.debug {
  background-color: #DA6E00;
}

/* line 292, ../../src/scss/main.scss */
#flash_stack.hidden {
  opacity: 0.0;
}
