@font-face {
  font-family: "Octicons";
  src: url("./font/octicons.eot?9a80b0fcce5ace0475f72ac5567f9158");
  src: url("./font/octicons.eot?#iefix") format("embedded-opentype"), url("./font/octicons.woff2?9a80b0fcce5ace0475f72ac5567f9158") format("woff2"), url("./font/octicons.woff?9a80b0fcce5ace0475f72ac5567f9158") format("woff"), url("./font/octicons.ttf?9a80b0fcce5ace0475f72ac5567f9158") format("truetype"), url("./font/octicons.svg?9a80b0fcce5ace0475f72ac5567f9158#octicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*

.octicon is optimized for 16px.
.mega-octicon is optimized for 32px but can be used larger.

*/
/* line 23, ../../src/scss/octicons.scss */
.octicon, .mega-octicon {
  font: normal normal normal 16px/1 Octicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  speak: none;
}

/* line 35, ../../src/scss/octicons.scss */
.mega-octicon {
  font-size: 32px;
}

/* line 37, ../../src/scss/octicons.scss */
.octicon-alert:before {
  content: "\f02d";
}

/* line 39, ../../src/scss/octicons.scss */
.octicon-arrow-down:before {
  content: "\f03f";
}

/* line 41, ../../src/scss/octicons.scss */
.octicon-arrow-left:before {
  content: "\f040";
}

/* line 43, ../../src/scss/octicons.scss */
.octicon-arrow-right:before {
  content: "\f03e";
}

/* line 45, ../../src/scss/octicons.scss */
.octicon-arrow-small-down:before {
  content: "\f0a0";
}

/* line 47, ../../src/scss/octicons.scss */
.octicon-arrow-small-left:before {
  content: "\f0a1";
}

/* line 49, ../../src/scss/octicons.scss */
.octicon-arrow-small-right:before {
  content: "\f071";
}

/* line 51, ../../src/scss/octicons.scss */
.octicon-arrow-small-up:before {
  content: "\f09f";
}

/* line 53, ../../src/scss/octicons.scss */
.octicon-arrow-up:before {
  content: "\f03d";
}

/* line 55, ../../src/scss/octicons.scss */
.octicon-beaker:before {
  content: "\f0dd";
}

/* line 57, ../../src/scss/octicons.scss */
.octicon-bell:before {
  content: "\f0de";
}

/* line 59, ../../src/scss/octicons.scss */
.octicon-bold:before {
  content: "\f0e2";
}

/* line 61, ../../src/scss/octicons.scss */
.octicon-book:before {
  content: "\f007";
}

/* line 63, ../../src/scss/octicons.scss */
.octicon-bookmark:before {
  content: "\f07b";
}

/* line 65, ../../src/scss/octicons.scss */
.octicon-briefcase:before {
  content: "\f0d3";
}

/* line 67, ../../src/scss/octicons.scss */
.octicon-broadcast:before {
  content: "\f048";
}

/* line 69, ../../src/scss/octicons.scss */
.octicon-browser:before {
  content: "\f0c5";
}

/* line 71, ../../src/scss/octicons.scss */
.octicon-bug:before {
  content: "\f091";
}

/* line 73, ../../src/scss/octicons.scss */
.octicon-calendar:before {
  content: "\f068";
}

/* line 75, ../../src/scss/octicons.scss */
.octicon-check:before {
  content: "\f03a";
}

/* line 77, ../../src/scss/octicons.scss */
.octicon-checklist:before {
  content: "\f076";
}

/* line 79, ../../src/scss/octicons.scss */
.octicon-chevron-down:before {
  content: "\f0a3";
}

/* line 81, ../../src/scss/octicons.scss */
.octicon-chevron-left:before {
  content: "\f0a4";
}

/* line 83, ../../src/scss/octicons.scss */
.octicon-chevron-right:before {
  content: "\f078";
}

/* line 85, ../../src/scss/octicons.scss */
.octicon-chevron-up:before {
  content: "\f0a2";
}

/* line 87, ../../src/scss/octicons.scss */
.octicon-circle-slash:before {
  content: "\f084";
}

/* line 89, ../../src/scss/octicons.scss */
.octicon-circuit-board:before {
  content: "\f0d6";
}

/* line 91, ../../src/scss/octicons.scss */
.octicon-clippy:before {
  content: "\f035";
}

/* line 93, ../../src/scss/octicons.scss */
.octicon-clock:before {
  content: "\f046";
}

/* line 95, ../../src/scss/octicons.scss */
.octicon-cloud-download:before {
  content: "\f00b";
}

/* line 97, ../../src/scss/octicons.scss */
.octicon-cloud-upload:before {
  content: "\f00c";
}

/* line 99, ../../src/scss/octicons.scss */
.octicon-code:before {
  content: "\f05f";
}

/* line 101, ../../src/scss/octicons.scss */
.octicon-comment-discussion:before {
  content: "\f04f";
}

/* line 103, ../../src/scss/octicons.scss */
.octicon-comment:before {
  content: "\f02b";
}

/* line 105, ../../src/scss/octicons.scss */
.octicon-credit-card:before {
  content: "\f045";
}

/* line 107, ../../src/scss/octicons.scss */
.octicon-dash:before {
  content: "\f0ca";
}

/* line 109, ../../src/scss/octicons.scss */
.octicon-dashboard:before {
  content: "\f07d";
}

/* line 111, ../../src/scss/octicons.scss */
.octicon-database:before {
  content: "\f096";
}

/* line 113, ../../src/scss/octicons.scss */
.octicon-desktop-download:before {
  content: "\f0dc";
}

/* line 115, ../../src/scss/octicons.scss */
.octicon-device-camera-video:before {
  content: "\f057";
}

/* line 117, ../../src/scss/octicons.scss */
.octicon-device-camera:before {
  content: "\f056";
}

/* line 119, ../../src/scss/octicons.scss */
.octicon-device-desktop:before {
  content: "\f27c";
}

/* line 121, ../../src/scss/octicons.scss */
.octicon-device-mobile:before {
  content: "\f038";
}

/* line 123, ../../src/scss/octicons.scss */
.octicon-diff-added:before {
  content: "\f06b";
}

/* line 125, ../../src/scss/octicons.scss */
.octicon-diff-ignored:before {
  content: "\f099";
}

/* line 127, ../../src/scss/octicons.scss */
.octicon-diff-modified:before {
  content: "\f06d";
}

/* line 129, ../../src/scss/octicons.scss */
.octicon-diff-removed:before {
  content: "\f06c";
}

/* line 131, ../../src/scss/octicons.scss */
.octicon-diff-renamed:before {
  content: "\f06e";
}

/* line 133, ../../src/scss/octicons.scss */
.octicon-diff:before {
  content: "\f04d";
}

/* line 135, ../../src/scss/octicons.scss */
.octicon-ellipses:before {
  content: "\f101";
}

/* line 137, ../../src/scss/octicons.scss */
.octicon-ellipsis:before {
  content: "\f09a";
}

/* line 139, ../../src/scss/octicons.scss */
.octicon-eye:before {
  content: "\f04e";
}

/* line 141, ../../src/scss/octicons.scss */
.octicon-file-binary:before {
  content: "\f094";
}

/* line 143, ../../src/scss/octicons.scss */
.octicon-file-code:before {
  content: "\f010";
}

/* line 145, ../../src/scss/octicons.scss */
.octicon-file-directory:before {
  content: "\f016";
}

/* line 147, ../../src/scss/octicons.scss */
.octicon-file-media:before {
  content: "\f012";
}

/* line 149, ../../src/scss/octicons.scss */
.octicon-file-pdf:before {
  content: "\f014";
}

/* line 151, ../../src/scss/octicons.scss */
.octicon-file-submodule:before {
  content: "\f017";
}

/* line 153, ../../src/scss/octicons.scss */
.octicon-file-symlink-directory:before {
  content: "\f0b1";
}

/* line 155, ../../src/scss/octicons.scss */
.octicon-file-symlink-file:before {
  content: "\f0b0";
}

/* line 157, ../../src/scss/octicons.scss */
.octicon-file-text:before {
  content: "\f011";
}

/* line 159, ../../src/scss/octicons.scss */
.octicon-file-zip:before {
  content: "\f013";
}

/* line 161, ../../src/scss/octicons.scss */
.octicon-file:before {
  content: "\f102";
}

/* line 163, ../../src/scss/octicons.scss */
.octicon-flame:before {
  content: "\f0d2";
}

/* line 165, ../../src/scss/octicons.scss */
.octicon-fold:before {
  content: "\f0cc";
}

/* line 167, ../../src/scss/octicons.scss */
.octicon-gear:before {
  content: "\f02f";
}

/* line 169, ../../src/scss/octicons.scss */
.octicon-gift:before {
  content: "\f042";
}

/* line 171, ../../src/scss/octicons.scss */
.octicon-gist-secret:before {
  content: "\f08c";
}

/* line 173, ../../src/scss/octicons.scss */
.octicon-gist:before {
  content: "\f00e";
}

/* line 175, ../../src/scss/octicons.scss */
.octicon-git-branch:before {
  content: "\f020";
}

/* line 177, ../../src/scss/octicons.scss */
.octicon-git-commit:before {
  content: "\f01f";
}

/* line 179, ../../src/scss/octicons.scss */
.octicon-git-compare:before {
  content: "\f0ac";
}

/* line 181, ../../src/scss/octicons.scss */
.octicon-git-merge:before {
  content: "\f023";
}

/* line 183, ../../src/scss/octicons.scss */
.octicon-git-pull-request:before {
  content: "\f009";
}

/* line 185, ../../src/scss/octicons.scss */
.octicon-globe:before {
  content: "\f0b6";
}

/* line 187, ../../src/scss/octicons.scss */
.octicon-grabber:before {
  content: "\f103";
}

/* line 189, ../../src/scss/octicons.scss */
.octicon-graph:before {
  content: "\f043";
}

/* line 191, ../../src/scss/octicons.scss */
.octicon-heart:before {
  content: "\2665";
}

/* line 193, ../../src/scss/octicons.scss */
.octicon-history:before {
  content: "\f07e";
}

/* line 195, ../../src/scss/octicons.scss */
.octicon-home:before {
  content: "\f08d";
}

/* line 197, ../../src/scss/octicons.scss */
.octicon-horizontal-rule:before {
  content: "\f070";
}

/* line 199, ../../src/scss/octicons.scss */
.octicon-hubot:before {
  content: "\f09d";
}

/* line 201, ../../src/scss/octicons.scss */
.octicon-inbox:before {
  content: "\f0cf";
}

/* line 203, ../../src/scss/octicons.scss */
.octicon-info:before {
  content: "\f059";
}

/* line 205, ../../src/scss/octicons.scss */
.octicon-issue-closed:before {
  content: "\f028";
}

/* line 207, ../../src/scss/octicons.scss */
.octicon-issue-opened:before {
  content: "\f026";
}

/* line 209, ../../src/scss/octicons.scss */
.octicon-issue-reopened:before {
  content: "\f027";
}

/* line 211, ../../src/scss/octicons.scss */
.octicon-italic:before {
  content: "\f0e4";
}

/* line 213, ../../src/scss/octicons.scss */
.octicon-jersey:before {
  content: "\f019";
}

/* line 215, ../../src/scss/octicons.scss */
.octicon-key:before {
  content: "\f049";
}

/* line 217, ../../src/scss/octicons.scss */
.octicon-keyboard:before {
  content: "\f00d";
}

/* line 219, ../../src/scss/octicons.scss */
.octicon-law:before {
  content: "\f0d8";
}

/* line 221, ../../src/scss/octicons.scss */
.octicon-light-bulb:before {
  content: "\f000";
}

/* line 223, ../../src/scss/octicons.scss */
.octicon-link-external:before {
  content: "\f07f";
}

/* line 225, ../../src/scss/octicons.scss */
.octicon-link:before {
  content: "\f05c";
}

/* line 227, ../../src/scss/octicons.scss */
.octicon-list-ordered:before {
  content: "\f062";
}

/* line 229, ../../src/scss/octicons.scss */
.octicon-list-unordered:before {
  content: "\f061";
}

/* line 231, ../../src/scss/octicons.scss */
.octicon-location:before {
  content: "\f060";
}

/* line 233, ../../src/scss/octicons.scss */
.octicon-lock:before {
  content: "\f06a";
}

/* line 235, ../../src/scss/octicons.scss */
.octicon-logo-gist:before {
  content: "\f0ad";
}

/* line 237, ../../src/scss/octicons.scss */
.octicon-logo-github:before {
  content: "\f092";
}

/* line 239, ../../src/scss/octicons.scss */
.octicon-mail-read:before {
  content: "\f03c";
}

/* line 241, ../../src/scss/octicons.scss */
.octicon-mail-reply:before {
  content: "\f051";
}

/* line 243, ../../src/scss/octicons.scss */
.octicon-mail:before {
  content: "\f03b";
}

/* line 245, ../../src/scss/octicons.scss */
.octicon-mark-github:before {
  content: "\f00a";
}

/* line 247, ../../src/scss/octicons.scss */
.octicon-markdown:before {
  content: "\f0c9";
}

/* line 249, ../../src/scss/octicons.scss */
.octicon-megaphone:before {
  content: "\f077";
}

/* line 251, ../../src/scss/octicons.scss */
.octicon-mention:before {
  content: "\f0be";
}

/* line 253, ../../src/scss/octicons.scss */
.octicon-milestone:before {
  content: "\f075";
}

/* line 255, ../../src/scss/octicons.scss */
.octicon-mirror:before {
  content: "\f024";
}

/* line 257, ../../src/scss/octicons.scss */
.octicon-mortar-board:before {
  content: "\f0d7";
}

/* line 259, ../../src/scss/octicons.scss */
.octicon-mute:before {
  content: "\f080";
}

/* line 261, ../../src/scss/octicons.scss */
.octicon-no-newline:before {
  content: "\f09c";
}

/* line 263, ../../src/scss/octicons.scss */
.octicon-octoface:before {
  content: "\f008";
}

/* line 265, ../../src/scss/octicons.scss */
.octicon-organization:before {
  content: "\f037";
}

/* line 267, ../../src/scss/octicons.scss */
.octicon-package:before {
  content: "\f0c4";
}

/* line 269, ../../src/scss/octicons.scss */
.octicon-paintcan:before {
  content: "\f0d1";
}

/* line 271, ../../src/scss/octicons.scss */
.octicon-pencil:before {
  content: "\f058";
}

/* line 273, ../../src/scss/octicons.scss */
.octicon-person:before {
  content: "\f018";
}

/* line 275, ../../src/scss/octicons.scss */
.octicon-pin:before {
  content: "\f041";
}

/* line 277, ../../src/scss/octicons.scss */
.octicon-plug:before {
  content: "\f0d4";
}

/* line 279, ../../src/scss/octicons.scss */
.octicon-plus-small:before {
  content: "\f104";
}

/* line 281, ../../src/scss/octicons.scss */
.octicon-plus:before {
  content: "\f05d";
}

/* line 283, ../../src/scss/octicons.scss */
.octicon-primitive-dot:before {
  content: "\f052";
}

/* line 285, ../../src/scss/octicons.scss */
.octicon-primitive-square:before {
  content: "\f053";
}

/* line 287, ../../src/scss/octicons.scss */
.octicon-pulse:before {
  content: "\f085";
}

/* line 289, ../../src/scss/octicons.scss */
.octicon-question:before {
  content: "\f02c";
}

/* line 291, ../../src/scss/octicons.scss */
.octicon-quote:before {
  content: "\f063";
}

/* line 293, ../../src/scss/octicons.scss */
.octicon-radio-tower:before {
  content: "\f030";
}

/* line 295, ../../src/scss/octicons.scss */
.octicon-reply:before {
  content: "\f105";
}

/* line 297, ../../src/scss/octicons.scss */
.octicon-repo-clone:before {
  content: "\f04c";
}

/* line 299, ../../src/scss/octicons.scss */
.octicon-repo-force-push:before {
  content: "\f04a";
}

/* line 301, ../../src/scss/octicons.scss */
.octicon-repo-forked:before {
  content: "\f002";
}

/* line 303, ../../src/scss/octicons.scss */
.octicon-repo-pull:before {
  content: "\f006";
}

/* line 305, ../../src/scss/octicons.scss */
.octicon-repo-push:before {
  content: "\f005";
}

/* line 307, ../../src/scss/octicons.scss */
.octicon-repo:before {
  content: "\f001";
}

/* line 309, ../../src/scss/octicons.scss */
.octicon-rocket:before {
  content: "\f033";
}

/* line 311, ../../src/scss/octicons.scss */
.octicon-rss:before {
  content: "\f034";
}

/* line 313, ../../src/scss/octicons.scss */
.octicon-ruby:before {
  content: "\f047";
}

/* line 315, ../../src/scss/octicons.scss */
.octicon-search:before {
  content: "\f02e";
}

/* line 317, ../../src/scss/octicons.scss */
.octicon-server:before {
  content: "\f097";
}

/* line 319, ../../src/scss/octicons.scss */
.octicon-settings:before {
  content: "\f07c";
}

/* line 321, ../../src/scss/octicons.scss */
.octicon-shield:before {
  content: "\f0e1";
}

/* line 323, ../../src/scss/octicons.scss */
.octicon-sign-in:before {
  content: "\f036";
}

/* line 325, ../../src/scss/octicons.scss */
.octicon-sign-out:before {
  content: "\f032";
}

/* line 327, ../../src/scss/octicons.scss */
.octicon-smiley:before {
  content: "\f0e7";
}

/* line 329, ../../src/scss/octicons.scss */
.octicon-squirrel:before {
  content: "\f0b2";
}

/* line 331, ../../src/scss/octicons.scss */
.octicon-star:before {
  content: "\f02a";
}

/* line 333, ../../src/scss/octicons.scss */
.octicon-stop:before {
  content: "\f08f";
}

/* line 335, ../../src/scss/octicons.scss */
.octicon-sync:before {
  content: "\f087";
}

/* line 337, ../../src/scss/octicons.scss */
.octicon-tag:before {
  content: "\f015";
}

/* line 339, ../../src/scss/octicons.scss */
.octicon-tasklist:before {
  content: "\f0e5";
}

/* line 341, ../../src/scss/octicons.scss */
.octicon-telescope:before {
  content: "\f088";
}

/* line 343, ../../src/scss/octicons.scss */
.octicon-terminal:before {
  content: "\f0c8";
}

/* line 345, ../../src/scss/octicons.scss */
.octicon-text-size:before {
  content: "\f0e3";
}

/* line 347, ../../src/scss/octicons.scss */
.octicon-three-bars:before {
  content: "\f05e";
}

/* line 349, ../../src/scss/octicons.scss */
.octicon-thumbsdown:before {
  content: "\f0db";
}

/* line 351, ../../src/scss/octicons.scss */
.octicon-thumbsup:before {
  content: "\f0da";
}

/* line 353, ../../src/scss/octicons.scss */
.octicon-tools:before {
  content: "\f031";
}

/* line 355, ../../src/scss/octicons.scss */
.octicon-trashcan:before {
  content: "\f0d0";
}

/* line 357, ../../src/scss/octicons.scss */
.octicon-triangle-down:before {
  content: "\f05b";
}

/* line 359, ../../src/scss/octicons.scss */
.octicon-triangle-left:before {
  content: "\f044";
}

/* line 361, ../../src/scss/octicons.scss */
.octicon-triangle-right:before {
  content: "\f05a";
}

/* line 363, ../../src/scss/octicons.scss */
.octicon-triangle-up:before {
  content: "\f0aa";
}

/* line 365, ../../src/scss/octicons.scss */
.octicon-unfold:before {
  content: "\f039";
}

/* line 367, ../../src/scss/octicons.scss */
.octicon-unmute:before {
  content: "\f0ba";
}

/* line 369, ../../src/scss/octicons.scss */
.octicon-unverified:before {
  content: "\f0e8";
}

/* line 371, ../../src/scss/octicons.scss */
.octicon-verified:before {
  content: "\f0e6";
}

/* line 373, ../../src/scss/octicons.scss */
.octicon-versions:before {
  content: "\f064";
}

/* line 375, ../../src/scss/octicons.scss */
.octicon-watch:before {
  content: "\f0e0";
}

/* line 377, ../../src/scss/octicons.scss */
.octicon-x:before {
  content: "\f081";
}

/* line 379, ../../src/scss/octicons.scss */
.octicon-zap:before {
  content: "\26a1";
}
