
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Source Serif Pro', serif;
// <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
body {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 100%;
	line-height: normal;
	font-family: 'Source Serif Pro', serif;
}
